.container-1 {
    background-color: #1f2937;
    color: white;
}

.top {
    display: flex;
    flex: 1;
    justify-content: space-around;
    border: 8px;
    margin: 8px;
    padding: 8px;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    border: 8px;
    margin: 8px;
    padding: 8px;
}
